.card-title {
    font-weight: bolder;
}

.card-text:last-of-type {
    font-weight: bolder;
}

h1 {
    font-weight: bolder;
    color: #e7746f;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.223);
    text-shadow: 2px 3px 1px rgba(151, 151, 151, 0.268);
}

.card {
    box-shadow: 0 0 15px 1px black;
    background-color: #19222f !important;
    color: white;
}