nav button {
    border: 1px solid #e7746f !important;
    color: #e7746f !important;
}

nav button:hover {
    border: 1px solid #eca19d !important;
    color: #eca19d !important;
}

.card-title {
    font-weight: bolder;
}

.card-text:last-of-type {
    font-weight: bolder;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bolder;
    color: #e7746f;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.223);
    text-shadow: 2px 3px 1px rgba(151, 151, 151, 0.268);
}

.card {
    width: 70%;
    margin: auto;
    box-shadow: 0 0 15px 1px black;
    background-color: #19222f !important;
    color: white;
}

#cart {
    background-color: #e7746f !important;
    color: white !important;
    border-radius: 60%;
    min-width: 2.8rem;
    min-height: 2.7rem;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    padding: 0;
}

td {
    border-bottom: none !important;
}

#cartDropdown > tr > td:last-of-type > button {
    color: white !important;
}

#cartDropdown > tr > td:first-of-type  {
    width: 10%;
}

#cartDropdown > tr > td:nth-child(2) {
    width: 50%;
}

#cartDropdown > tr > td:nth-child(3) {
    width: 20%;
}

#cartDropdown > tr > td:last-of-type {
    width: 20%;
    display: flex;
    justify-content: end;
}

.fa-solid {
    font-size: 0.8rem;
}

.btn-primary {
    background-color: #e7746f !important;
    border-color: #e7746f !important;
}

.btn-primary:hover {
    border: 1px solid #eca19d !important;
    background-color: #eca19d !important;
}


footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}