body {
    font-family: "Lato";
    background-color: #ffffff;
}

nav {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
}

nav button {
    border: 1px solid #e7746f !important;
    color: #e7746f !important;
}

nav button:hover {
    border: 1px solid #eca19d !important;
    color: #eca19d !important;
}

main {
    width: 90%;
    margin: auto;
}

#searchForm {
    width: 70%;
    margin: auto;
}

#searchForm input {
    height: 2.8rem;
}

#searchForm .alert {
    width: 92%;
    margin: auto;
}

#searchForm form {
    gap: 0.5rem;
}

h3 {
    color: #e7746f;
    text-align: center;
    font-weight: bold;
}

.card {
    width: 18rem;
    box-shadow: 0 0 15px 1px black;
    background-color: #19222f !important;
    color: white;
}

#cart {
    background-color: #e7746f !important;
    color: white !important;
    border-radius: 60%;
    min-width: 2.8rem;
    min-height: 2.7rem;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    padding: 0;
}

td {
    border-bottom: none !important;
}

#cartDropdown > tr > td:last-of-type > button {
    color: white !important;
}

#cartDropdown > tr > td:first-of-type  {
    width: 10%;
}

#cartDropdown > tr > td:nth-child(2) {
    width: 50%;
}

#cartDropdown > tr > td:nth-child(3) {
    width: 20%;
}

#cartDropdown > tr > td:last-of-type {
    width: 20%;
    display: flex;
    justify-content: end;
}

.fa-solid {
    font-size: 0.8rem;
}

.btn-primary {
    background-color: #e7746f !important;
    border-color: #e7746f !important;
}

.btn-primary:hover {
    border: 1px solid #eca19d !important;
    background-color: #eca19d !important;
}


footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}